<jw-modal id="updateRadnikModal">
    <form #form='ngForm' (ngSubmit)="izmeniRadnika(selectedRadnik)" *ngIf="selectedRadnik">
        <p>Trenutna pozicija radnika: {{selectedRadnik.pozicija}}</p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nova pozicija</mat-label>
            <input matInput [formControl]="novaPoz" required>
        </mat-form-field>
        <button class="btn btn-success" type="submit" [disabled]="!novaPoz.valid || !novaPoz.dirty"><i class="fas fa-check"></i></button>
    </form>
    <button class="btn btn-danger" (click)="closeModal('updateRadnikModal')"><i class="fas fa-backspace"></i></button>
</jw-modal>

<jw-modal id="dodajRadnikModal">
    <form [formGroup]="addForm" (ngSubmit)="dodajRadnika()">
        <div class="form-inputs">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required minlength="5">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ime</mat-label>
                <input matInput formControlName="ime" required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Prezime</mat-label>
                <input matInput formControlName="prezime" required>
            </mat-form-field>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!addForm.valid"><i class="fas fa-check"></i></button>
    </form>
    <button class="btn btn-danger" (click)="closeModal('dodajRadnikModal')"><i class="fas fa-backspace"></i></button>
</jw-modal>

<jw-modal id="zaposliRadnikModal">
    <form #form='ngForm' [formGroup]="zaposliForm" (ngSubmit)="zaposliRadnika(selectedRadnik.username)" *ngIf="selectedRadnik">
        <div class="form-inputs">

            <mat-form-field appearance="fill">
                <mat-label>Gradovi</mat-label>
                <mat-select formControlName="grad" required (selectionChange)="izaberiGrad()">
                <mat-option *ngFor="let grad of gradovi" [value]="grad">
                    {{grad}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <!--DINAMICKI SE UCITAVAJU ADRESE NAKON STO SE SELEKTUJE GRAD-->
            <mat-form-field appearance="fill">
                <mat-label>Adrese</mat-label>
                <mat-select formControlName="adresa" required [disabled]="!gradIzabran">
                <mat-option *ngFor="let adresa of adrese" [value]="adresa">
                    {{adresa}}
                </mat-option>
                </mat-select>
            </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Datum</mat-label>
            <input matInput formControlName="datum" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pozicija</mat-label>
            <input matInput formControlName="pozicija" required>
        </mat-form-field>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!zaposliForm.valid || !zaposliForm.dirty"><i class="fas fa-check"></i></button>
    </form>
    <button class="btn btn-danger" (click)="closeModal('zaposliRadnikModal')"><i class="fas fa-backspace"></i></button>
</jw-modal>

<div class="container-wrapper">
    <div class="add-btn">
        <button class="btn btn-primary" (click)="openModal('dodajRadnikModal')"><i class="fas fa-user-plus"></i></button>
        <button class="btn btn-primary" (click)="loadZaposljeniRadnici()">Ucitaj zaposljene radnike</button>
        <button class="btn btn-primary" (click)="loadNezaposljeniRadnici()">Ucitaj nezaposljene radnike</button>
        <hr>
    </div>
            <div class="radnik card" *ngFor="let radnik of radnici | async">
                <div class="radnik-wrapper">
                    <div class="radnik-opste">
                        <p class="radnik-ime">{{radnik.ime}} {{radnik.prezime}}</p>
                        <small>Username: {{radnik.username}}</small>
                        <p *ngIf="radnik.grad !== ''">Mesto rada: {{radnik.adresa}}, {{radnik.grad}} </p>
                        <small *ngIf="radnik.pozicija !== ''">Pozicija: {{radnik.pozicija}}</small>
                    </div>
                </div>
                <div class="buttons">
                    <div class="col">
                        <button class="btn btn-primary" *ngIf="radnik.grad === ''" (click)="openModal('zaposliRadnikModal', radnik)"><i class="fas fa-handshake"></i></button>
                        <button class="btn btn-warning" *ngIf="radnik.pozicija !== ''" (click)="openModal('updateRadnikModal', radnik)"><i class="fas fa-user-edit"></i></button>
                        <button class="btn btn-danger" *ngIf="radnik.pozicija !== ''" (click)="otpustiRadnika(radnik)"><i class="fas fa-user-minus"></i></button>
                        <button class="btn btn-danger" (click)="izbrisiRadnika(radnik)"><i class="fas fa-user-times"></i></button>
                    </div>
                </div>
    </div>
</div>
